* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

       

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}

:root {
    --bg-color: #92bbe3;
    --gradient-white-bg: linear-gradient(0deg, #fff 0%, #edf4fa 51%, #e5eef7 100%);
    --gradient-color-bg: linear-gradient(180deg, rgba(247, 1, 120, 1)0%,
            rgba(160, 8, 156, 1)51%,
            rgba(99, 13, 178, 1)100%);
    --main-color: #e6006d;
    --font-color: #90979f;
    --gradient-white-bg2: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
}


header {
    background: var(--gradient-white-bg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 8%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    z-index: 100;
}

.nav {
    display: flex
}

.nav li {
    margin: 0 15px;
    font-weight: 600;
}


header span {
    font-size: 25px;
    font-weight: 800;
}

header span.first_name {
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}

header span.second_name {
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}

.active {
    background: var(--main-color);
    -webkit-background-clip: text;
    color: var(--main-color);
}

.nav li a:hover {
    color: var(--main-color);
}




.right_header {
    font-weight: 900;
    font-size: 15px;
    justify-content: end;
    border-radius: 10px;
    background: var(--main-color);
}

.btn {
    display: block;
    padding: 8px 8px;
    border-radius: 10px;
    color: var(--bg-color);
}

section {
    padding: 150px 8%;
}


.home {
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #279f27, #a8e6cf, #aed61d); */
    background-image: url(image/background-image.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}


.left_content {
    width: 60%;

}

.name {
    font-size: 40px;
    font-weight: 700;
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
}

.left_content p {
    font-weight: 900;
    letter-spacing: 2px;
    /* color: hotpink; */
    font-family: "Grechen Fuemen", serif;
    font-style: normal;
}

.left_content h3 {
    color: #2071c9;
    text-transform: uppercase;
}

.btn_box {
    width: 320px;
    margin-top: 30px;
    margin-bottom: 60px;
    justify-content: space-between;
    font-weight: 600;
}

.hire {
    background: var(--main-color);
    padding: 10px 10px;
    border-radius: 10px;
    color: rgb(15, 41, 189);
}

.download {
    background: var(--main-color);
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--gradient-white-bg2);
    color: var(--bg-color);
}

.social_media {
    display: flex;
    width: 320px;
    justify-content: space-between;
    height: 45px;
}

.social_media a {
    background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent;
    height: 40px;
    width: 40px;
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   

}


.social_media a:hover{
    background-color: aqua;
}

.right_content {
    justify-content: end;
    margin-left: 20%;
}

.image img {
    height: 450px;
    width: 450px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}


.about {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(117, 67, 67),);
    align-items: center;
    justify-content: center;
}

img {
    height: 400px;
    width: auto;
    border-radius: 10px;
    box-shadow: rgba(238, 16, 112, 0.3)0px 0px 20px 0,
        rgb(245, 20, 132)0px 10px 40px 5px;
}

.about {
    display: flex;
    /* background-color: violet; */
}
.about h2{
    align-items: center;
    justify-content: center;
    display: block;
    text-align: center;
    width: 100%;
    background-color: darksalmon;
}

.right_about {
    margin-left: 30%;
}

.right_about h1 {
    font-weight: 700;
    /* background: var(--main-color);
    -webkit-background-clip: text;
    color: transparent; */
}

.right_about p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}
.right_about h1{
     color: var(--main-color);
     background-color: burlywood;
     text-align: center;
}

.about_btn {
    margin-top: 20px;
    display: flex;
    width: 0px;
    justify-content: space-between;
    gap: 0.5rem;
}

.btnn {
    background-color: #e6006d;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    box-shadow: 5px 10px 5px rgb(87, 77, 82);
}

.about_detail {
    margin-top: 30px;
}

.detail {
    margin: 10px;

}

.detail h2 {
    font-size: 30px;
}

dl {
    font-size: 20px;
}

dd {
    display: block;
    margin-left: 40px;

}

dt {
    font-weight: bold;
}


/* Achivement section */

.achivement{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: darksalmon;
}

.certificate {
    justify-content: center;
    align-items: center;
    align-items: center;
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;  
}

.certificate img{
    margin: 1rem;
}

.achivement h2{
    color: rgb(245, 20, 132);
    background-color: burlywood;
    width: 100%;
}

/* contact */
.contact h2{
    margin-bottom: 2rem;
}
.contact{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact input{
    width: 50%;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.2rem;
}
textarea{
    width: 50%;
    padding: 5rem;
    margin: 0.5rem;
    font-size: 1.3rem;
}
.btn-contact{
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 30%;
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: dashed rebeccapurple;
}


/* footer */

footer{
    height: 8rem;
    background-color: #90979f;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.f-content{
    align-items: center;
}


/* @media screen and (max-width: 500px) {
    body {
        background-color: var(--bg-color);
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
    }

    :root {
        --bg-color: #89b9ea;
        --gradient-white-bg: linear-gradient(0deg, #f0b4b4 0%, #edf4fa 51%, #e5eef7 100%);
        --gradient-color-bg: linear-gradient(180deg, rgba(247, 1, 120, 1)0%,
                rgba(160, 8, 156, 1)51%,
                rgba(99, 13, 178, 1)100%);
        --main-color: #e6006d;
        --font-color: #90979f;
        --gradient-white-bg2: linear-gradient(98deg, #e5eef7 0%, #fff 100%);
    }

    header {
        background: var(--gradient-white-bg);
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px 8%;
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        z-index: 100;
    }

    .nav {
        display: flex;
        margin-left: 15px;


    }

    .nav li {
        margin: 0 7px;
        font-weight: 600;
    }

    header span {
        font-size: 25px;
        font-weight: 800;
    }

    .right_header {
        display: none;
    }

    header span.first_name {
        background: var(--gradient-color-bg);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 1rem;
        display: block;
    }

    header span.second_name {
        background: var(--gradient-color-bg);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 1rem;
        display: block;
    }

    .active {
        background: var(--main-color);
        -webkit-background-clip: text;
        color: var(--main-color);
    }

    .nav li a:hover {
        color: var(--main-color);
    }

    section {
        padding: 150px 8%;
    }

    .home {
        min-height: 100vh;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        /* justify-content: center; */
        /* background: linear-gradient(135deg, #7e897e, #a8e6cf, #aed61d);
    } */

/* .left_content{
    justify-content: center;
    text-align: center;
    align-items: center;
}
    .name {
        font-size: 40px;
        font-weight: 700;
        background: var(--gradient-color-bg);
        -webkit-background-clip: text;
        color: transparent;
       
    }

    .left_content p {
        font-weight: 600;
        
    }

    .left_content h3 {
        color: #2071c9;
        text-transform: uppercase;
      
    }

    /* .image img {
        height: 300px;
        width: 300px;
        border: 3px solid var(--main-color);
        border-radius: 50%;
        position: relative;
        bottom: 100px;
    } */

    /* .btn_box {
        margin-top: 30px;
        margin-bottom: 60px;
        font-weight: 600;
        display: block;
        margin: 1rem;
        position: relative;
        top: 380px;
        text-align: center;
        width: 350px;

    }

    .hire {
        background: var(--main-color);
        padding: 10px 10px;
        border-radius: 10px;
        color: rgb(15, 41, 189);
        display: block;

    }

    .download {
        background: var(--main-color);
        padding: 10px 10px;
        border-radius: 10px;
        color: var(--gradient-white-bg2);
        color: var(--bg-color);
        display: block;
        margin-top: 0.7rem;
    }

    .social_media {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 400px;
        text-align: center;
    }

    .social_media a {
        background: var(--main-color);
        -webkit-background-clip: text;
        color: transparent;
        height: 40px;
        width: 40px;
        font-size: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .social_media a:hover {
        background-color: aqua;
    }

    /* home section */


    /* .about {
        min-height: 100vh;
        width: 100%;
        justify-content: center;
        display: block;
    }

    .about h2 {
        text-align: center;
        align-items: center;
        margin-bottom: 4rem;
        background-color: burlywood;
        border-radius: 5px;
    }

    .about_image {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 400px;
        width: 350px;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(238, 16, 112, 0.3)0px 0px 20px 0,
            rgb(245, 20, 132)0px 10px 40px 5px;
    }

    .right_about h1 {
        font-weight: 700;
        margin-top: 80px;
    }

    .right_about p {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 400;
    }

    .right_about h1 {
        color: var(--main-color);
        background-color: burlywood;
        text-align: center;
        border-radius: 0.5rem;
    }

    .about_btn {
        margin-top: 20px;
        gap: 0.5rem;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 30px;
    }

    .btnn {
        background-color: #e6006d;
        font-weight: 600;
        font-size: 1.2rem;
        border-radius: 5px;
        background: var(--gradient-color-bg);
        -webkit-background-clip: text;
        color: transparent;
        padding: 5px;
        cursor: pointer;
        box-shadow: 5px 10px 5px rgb(87, 77, 82);
    }

    .about_detail {
        margin-top: 30px;
    }

    .detail {
        margin: 15px;

    }

    .detail h2 {
        font-size: 30px;
    }

    dl {
        font-size: 20px;
    }

    dd {
        display: block;
        margin-left: 35px;

    }

    dt {
        font-weight: bold;
    }


   

    .achivement {
        align-items: center;
        text-align: center;
        width: 100%;
        background-color: rgb(51, 189, 163);
    }

    .certificate {
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 3rem;

    }

    .certificate img {
        margin: 1rem;
        width: 100%;
    }

    .achivement h2 {
        color: rgb(245, 20, 132);
        background-color: burlywood;
        width: 100%;
        border-radius: 5px;
    }

   

    .contact h2 {
        margin-bottom: 2rem;
        color: var(--main-color);
        background-color: burlywood;
        text-align: center;
        border-radius: 0.5rem;
    }

.contact {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.2rem;
}

textarea {
    width: 100%;
    padding: 5rem;
    margin: 0.5rem;
    font-size: 1.3rem;
}

.btn-contact {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 50%;
    background: var(--gradient-color-bg);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    border-radius: 10px;
    border: dashed rebeccapurple;
}



footer {
    height: 8rem;
    background-color: #90979f;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f-content {
    align-items: center;
    padding: 1.5rem;
}   */
